<% provide(:title, "Home") %>


<p>
                    <button type="button" class="btn btn-default btn-lg"> <b>This is the home page for the</b>
  
 
                   <a href="https://kol-thanguet.c9users.io/">Students of UET</a>
                  <b> sample application.</b></button>
  
</p>

             <div><%= link_to image_tag("2e5ef6cc0f51.png", alt: "UET logo"),
            'https://kol-thanguet.c9users.io/' %></div>
            
 
   
